In [1]:
import pandas as pd
# https://www.kaggle.com/datasets/mosapabdelghany/medical-insurance-cost-dataset
data = r'../data/insurance.csv'
df = pd.read_csv(data)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [3]:
df.columns = (
    df.columns.str.strip()
              .str.upper()               
              .str.replace(' ', '_')     
              .str.replace('[^0-9A-Z_]', '', regex=True)  
)

In [4]:
df.isnull().sum()

AGE         0
SEX         0
BMI         0
CHILDREN    0
SMOKER      0
REGION      0
CHARGES     0
dtype: int64

In [5]:
df.duplicated().sum()
df = df.drop_duplicates()

In [ ]:
# df.to_csv('insurance_cleaned.csv', index=False)

In [6]:
df.head()

   AGE     SEX     BMI  CHILDREN SMOKER     REGION      CHARGES
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520